*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body *{
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-direito{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-direito > h1{
    color: #77ffc0;
    font-size: 3vw;
}

.login-esquerdo{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    
}

.card-login h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
    
}
.imagem-login{
    width: 35vw;
}

.caixa-de-texto{
    display: flex;
    flex-direction: column;
    align-items: self-start; 
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

.caixa-de-texto input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.caixa-de-texto label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.caixa-de-texto input::placeholder{
    color: #f0ffff94;
}

.botao-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}


@media only screen and (max-width: 950px ){
    .card-login{
        width: 85%;
    }
}
@media only screen and (max-width: 600px ){
    .main-login{
        display: flex;
        flex-direction: column;
    }

    .login-direito h1{
        display: none;
    }
  
    .login-direito{
        width: 100%;
        height: auto;
    }
    .login-esquerdo{
        width: 100%;
        height: auto;
    }
    .imagem-login{
        width: 50vh;
    }
    .card-login{
        width: 80%;
    }
}